<a href="https://colab.research.google.com/github/shaheenmughalER/Introductory_Data_Analytics_Course/blob/main/sbm__Python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question 1**

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [23]:
start = 2000
end = 3200
count =0
my_list = list(range(2000, 3200))
for i in my_list:
    if (i)%7 ==0 and (i)!=5:
        print(i)

2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2100
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2275
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2450
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2625
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695
2702
2709
2716
2723
2730
2737
2744
2751
2758
2765
2772
2779
2786
2793
2800
2807
2814
2821
2828
2835
2842
2849
2856
2863
2870
2877
2884
2891
2898
2905
2912
2919
2926
2933
2940
2947
2954
2961
2968
2975
2982
2989
2996
3003
3010
3017
3024
3031
3038
3045
3052
3059
3066
3073
3080
3087
3094
3101
3108
3115
3122
3129
3136
3143
3150
3157
3164
3171
3178
3185
3192
3199

# **Question 2**

Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [38]:
user_f_name = input()
user_l_name = input()
txt_f=user_l_name + " " + user_f_name
txt = txt_f[::-1]
txt

shaheen
mughal

'neehahs lahgum'

# **Question 3**

Write a Python program to find the volume of a sphere with diameter 12 cm.

Formula: V=4/3 * Ï€ * r3

In [40]:
diameter = 12
volume =(4/3)*3.142*(diameter**3)
volume

7239.168

# **Question 4**

Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [48]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print('List : ',list)

Input some comma seprated numbers : 2,3,4,5,6,7,8,800
List :  ['2', '3', '4', '5', '6', '7', '8', '800']

# **Question 5**

A. Create the below pattern using nested for loop in Python.

```
*
* *
* * *
* * * *
* * * * *
```

In [62]:

def pattern_star(n):
	for i in range(0, n):
		for j in range(0, i+1):
				print("* ",end="")
		print("\r")

In [63]:
pattern_star(5)

*
* *
* * *
* * * *
* * * * *

B. Create the below pattern using nested for loop in python

```
* * * * *  
* * * *  
* * *  
* *  
*
```

In [111]:
def pattern_dec_star(n):
    for i in range(n,0,-1):
        for j in range(i,0,-1):
            print("* ", end="")
        print("\r")

In [112]:
pattern_dec_star(5)

* * * * *
* * * *
* * *
* *
*

# **Question 6**

Write a Python program to reverse a word after accepting the input from the user.

In [113]:
user= input()
print(user[::-1])

shaheen
neehahs

# **Question 7**

Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output:

```
WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
         SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
          and to secure to all its citizens
```

In [137]:
print("WE, THE PEOPLE OF INDIA,\n \t having solemnly resolved to constitute India into a SOVEREIGN, !\n\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t \t and to secure to all its citizens ")

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN, !
	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	 and to secure to all its citizens

# **Question 8**

Write a function `sent_to_dict` that accepts a sentence as input from user and returns a dictionary with keys 'digits', 'lowercase' and 'uppercase'. The value of these keys is <br>
* 'digits' - number of digits in the sentence
* 'lowercase' - number of lowercase letter in the sentence
* 'uppercase' - number of uppercase letter in the sentence

In [177]:

def sent_to_dict():
    string=input("Enter string:")
    count1=0
    count2=0
    count3=0
    for i in string:
      if(i.islower()):
            count1=count1+1

      elif(i.isupper()):
            count2=count2+1
      elif(i.isdigit()):
            count3=count3+1
    print({"lowercase":f'{count1}',"uppercase":f'{count2}',"digit":f'{count3}'})

In [178]:
sent_to_dict()

Enter string:Shaheen Beg Mughal 24
{'lowercase': '13', 'uppercase': '3', 'digit': '2'}