<a href="https://colab.research.google.com/github/shaheenmughalER/Introductory_Data_Analytics_Course/blob/main/shaheen__Coding_assignment_pandas_basic_concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/drive/1WCJsT21jIbWisU3AXADHYohQD1UcL32A?usp=sharing">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

**Question 1**<br>
Refer to the coding assignment on lists and dictionary.

In the 3rd question of this assignment, we had created two dictionaries user_1 and user_2. Then added both of these to a list.

Instead of creating a list create a dictionary with keys as 'user_1' and 'user_2'. The value of each key in this case would be a dictionary that you had created earlier as user_1 and user_2. This will create a dictionary of dictionary.

Add one more user information into above dictionary of dictionary with keys as user_3.

For eg. if user_1 information is as shown below

What is your name? Doris<br>
What is your age? 29<br>
What is your school name? TDP<br>
What is your city name? Bangalore<br>
What is your sex? F<br>

then after saving it in final dictionary, it will look like

{'user_1': {'age': 29, 'city': 'Bangalore', 'name': 'Doris', 'sex': 'F'}}

Use a for loop to take the information of 3 students from the user and save it in final_dict dictionary. (i.e. don't write input function code 3 times for each user)

In [ ]:
user_deatils = 3
final_dict = {}
for i in range(user_deatils):
    dict_name = input("Enter the name of user: ")
    final_dict[dict_name]={}
    name = input("What is your name?")
    age = int(input("What is yur age?"))
    school = input("What is your school name?")
    city = input("What is your city?")
    sex = input("What is your sex?")
    final_dict[dict_name]["name"] = name
    final_dict[dict_name]["age"] = age
    final_dict[dict_name]["school"]=school
    final_dict[dict_name]["city"]=city
    final_dict[dict_name]["sex"]=sex

print(final_dict)

Enter the name of user: user_1
What is your name?Shaheen
What is yur age?33
What is your school name?DPS
What is your city?Indore
What is your sex?M
Enter the name of user: user_2
What is your name?Sana
What is yur age?31
What is your school name?LPS
What is your city?Indore
What is your sex?F
Enter the name of user: user_3
What is your name?Ridaaye
What is yur age?4
What is your school name?LPS
What is your city?Mandsaur
What is your sex?F
{'user_1': {'name': 'Shaheen', 'age': 33, 'school': 'DPS', 'city': 'Indore', 'sex': 'M'}, 'user_2': {'name': 'Sana', 'age': 31, 'school': 'LPS', 'city': 'Indore', 'sex': 'F'}, 'user_3': {'name': 'Ridaaye', 'age': 4, 'school': 'LPS', 'city': 'Mandsaur', 'sex': 'F'}}

**Question 2**<br>
Create a pandas Series using the dictionary value of key 'user_1' in final_dict.

In [ ]:
import pandas as pd
ser_final_dict_user_1 = pd.Series(final_dict['user_1'])
ser_final_dict_user_1

name      Shaheen
age            33
school        DPS
city       Indore
sex             M
dtype: object

**Question 3**<br>
Create a dataframe using the dictionary of dictionary 'final_dict'.

In [ ]:
df = pd.DataFrame(final_dict)
print(df)

         user_1  user_2    user_3
name    Shaheen    Sana   Ridaaye
age          33      31         4
school      DPS     LPS       LPS
city     Indore  Indore  Mandsaur
sex           M       F         F

**Question 4**<br>
In the above created dataframe, user_1,user_2 and user_3 will be columns and the attributes of user like name, age is a row. 

write a program using the above dataframe to make the attributes of user like name, age as columns while user_1,user_2 as rows. (i.e. transpose the dataframe that you created above) 

If possible try to use .loc functionality.

In [ ]:
df_transposed = df.T # or df1.transpose()
df_transposed

           name age school      city sex
user_1  Shaheen  33    DPS    Indore   M
user_2     Sana  31    LPS    Indore   F
user_3  Ridaaye   4    LPS  Mandsaur   F

**Question 5**<br>
Using the above created dataframe, create a new dataframe containing name and age as column of all three users.

In [ ]:
df_transposed[['name','age']]

           name age
user_1  Shaheen  33
user_2     Sana  31
user_3  Ridaaye   4