<a href="https://colab.research.google.com/github/shaheenmughalER/Introductory_Data_Analytics_Course/blob/main/shaheen__Coding_assignment_list_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/OneLearn-github/Introductory_Data_Analytics_Course/blob/main/basic_python_revision/Coding_assignment_list_dict.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

**No1.**<br> 
Given a list as shown below<br>
a = ['Ram',45,'Singh','Years'] 

Using the elements from the above list. 

print the following statement using one single line of code:<br>
'The age of Ram Singh is 45 Years'.

In [ ]:
# given list
a = ['Ram',45,'Singh','Years']
#write the print statement
print("The Age of", a[0],a[2],"is",a[1],a[3])

The Age of Ram Singh is 45 Years

**No2.**<br>
Write a program which does the following:<br>
STEP1. Take input from the user about his name, age, school, city and sex<br>
STEP2. Form a student dictionary using the above information as keys and save it in variable user_1<br>
STEP3. print the dictionary <br>

For eg, if the user enters following information<br>
name = Dave, age = 45, school = DPS, city = Delhi and sex = Male

Following dictionary is printed<br>
{name:Dave, age:45, school:DPS, city:Delhi, sex:Male}

In [ ]:
name =input("Enter a user name:-")
age = int(input("Enter a user age:-"))
school = input("Enter your School name:-")
City = input("Enter your city name:-")
Sex = input("Enter your sex:-")
variable_user_1= {'name':name,'age':age,'school':school,'City':City,'Sex':Sex}
print(variable_user_1)

Enter a user name:-shaheen
Enter a user age:-33
Enter your School name:-DPS
Enter your city name:-Inodre
Enter your sex:-Male
{'name': 'shaheen', 'age': 33, 'school': 'DPS', 'City': 'Inodre', 'Sex': 'Male'}

**No.3**<br>
Take the input from one more user using the above code. Save the information in a new variable user_2.

Create a new list with variable name user_list. This list will contain the variables user_1 and user_2 as the two elements.

Let's suppose <br>
user_1 = {name:Dave, age:15, school:DPS, city:Delhi, sex:Male}
user_2 = {name:Maria, age:14, school:DPS, city:Delhi, sex:Female}

Print the following line using the elements from the list user_list.<br>
We have two users with names Dave and Maria. The sum of their ages are 29.

In [ ]:
name_1 =input("Enter a user name:-")
age_1 = int(input("Enter a user age:-"))
school_1 = input("Enter your School name:-")
City_1 = input("Enter your city name:-")
Sex_1 = input("Enter your sex:-")
variable_user_1= {'name_1':name_1,'age_1':age_1,'school_1':school_1,'City_1':City_1,'Sex_1':Sex_1}
name_2 =input("Enter a user name:-")
age_2 = int(input("Enter a user age:-"))
school_2 = input("Enter your School name:-")
City_2 = input("Enter your city name:-")
Sex_2 = input("Enter your sex:-")
variable_user_2= {'name_2':name_2,'age_2':age_2,'school_2':school_2,'City_2':City_2,'Sex_2':Sex_2}
print("We have two user with",name_1,'and',name_2,".The sum of their age is",age_1+age_2)

Enter a user name:-shaheen
Enter a user age:-33
Enter your School name:-gbhssno2
Enter your city name:-Mandsaur
Enter your sex:-Male
{'name_1': 'shaheen', 'age_1': 33, 'school_1': 'gbhssno2', 'City_1': 'Mandsaur', 'Sex_1': 'Male'}
Enter a user name:-Sana
Enter a user age:-31
Enter your School name:-APS
Enter your city name:-Nagda
Enter your sex:-Female
{'name_2': 'Sana', 'age_2': 31, 'school_2': 'APS', 'City_2': 'Nagda', 'Sex_2': 'Female'}
We have two user with shaheen and Sana .The sum of their age is 64

**No.4**<br>
Given a list, write a Python program to swap first and last element of the list.

Examples: 

Input : [12, 35, 9, 56, 24]<br>
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]<br>
Output : [3, 2, 1]

In [ ]:
# take the below example list 
exp_list = [1,23,4,96]
print(exp_list[::-1])
# print a new list with the output [96,23,4,1]

[96, 4, 23, 1]